/** Add css rules here for your application. */

/**
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
*/

/** main content */
.content {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

/** format text output */
.content .txtOut td {
	font-size: 120%;
	font-family:verdana, sans-serif;
	padding: 3px; 
	background-color: white;
	width: 500px;
}

/** format text input */
.content .txtIn td {

}

/** format asr */
.content .asr td {

}

/** format audio output */
.content .audioOut td {

}

/** format mm output */
.content .mmOut td {

}


/** panels, buttons and other elements */

.button {
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: right;	
}

.infoPanel {
	margin-left: 5px;
	margin-bottom: 2px;
}

.textDiscPanel {
	margin-left: 7px;
	margin-bottom: 2px;
}

.textOutputPanel {
	margin-left: 5px;
	margin-bottom: 4px;	
}

.audioOutputPanel {
	margin-left: 5px;
	margin-bottom: 2px;
}

.mmOutputPanel {
	margin-left: 5px;
	margin-bottom: 2px;
}

.controlPanel {
	margin-left: 5px;
	margin-bottom: 12px;
}

.title {
	margin-left:10px;
	font-weight: bold;
	font-size: 120%;
}

.label {
	margin-right: 10px;
}

.list {
	margin-right: 10px;
}

.text {
	margin-right: 10px;
}

.buttonLogin {
	margin-right: 10px;	
}

.layout {
	margin-left: 10px;
	margin-top: 10px;
}

.asr {
	margin-left: 40px;
}

.textoutput {
	margin-left: 20px;
}

.loginMessage {
	color: red;
	margin-top: 10px;
	margin-left: 10px;
}

.textOut {
	width: 250px;
	font-size: 200%;
}
